## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://forms.gle/EDdU2Zfq8zLvDea18]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns

In [6]:
## 輸入資料
df = pd.DataFrame({"boy":[164,175,183,173,176,159,165,165,169,151,156,163,169,144,170,177,165,160,164,171],
                   "girl":[169,170,162,154,183,173,169,167,170,185,162,175,168,151,181,170,182,156,159,160]})
df

    boy  girl
0   164   169
1   175   170
2   183   162
3   173   154
4   176   183
5   159   173
6   165   169
7   165   167
8   169   170
9   151   185
10  156   162
11  163   175
12  169   168
13  144   151
14  170   181
15  177   170
16  165   182
17  160   156
18  164   159
19  171   160

In [7]:
#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量
df.describe()

              boy        girl
count   20.000000   20.000000
mean   165.950000  168.300000
std      9.213691    9.766215
min    144.000000  151.000000
25%    162.250000  161.500000
50%    165.000000  169.000000
75%    171.500000  173.500000
max    183.000000  185.000000

In [12]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
max(df["boy"].mean(),df["girl"].mean())
#girl

168.3

In [5]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
'''
你的答案
'''

'\n你的答案\n'