# 資料庫實作

In [16]:
import sqlite3

In [25]:
#連結資料庫檔案
con = sqlite3.connect('myDB.db')#資料庫會自己建立

#建立cursor物件
c = con.cursor()

In [26]:
#建立資料表的查詢指令
createStr = 'CREATE TABLE Employeee\
       (ID INT PRIMARY KEY     NOT NULL,\
       NAME           TEXT    NOT NULL,\
       BIRTHYEAR      INT     NOT NULL,\
       ADDRESS        CHAR(50),\
       SALARY         INT);'

In [27]:
#執行建立資料表的指令
c.execute(createStr)

In [28]:
#新增資料至資料表
c.execute("INSERT INTO Employeee (ID, NAME, BIRTHYEAR, ADDRESS, SALARY) \
      VALUES (1, '小陳', 1997, '新北市', 58000 )")
c.execute("INSERT INTO Employeee (ID, NAME, BIRTHYEAR, ADDRESS, SALARY) \
      VALUES (2, '小范', 2000, '臺北市', 50000 )")
c.execute("INSERT INTO Employeee (ID, NAME, BIRTHYEAR, ADDRESS, SALARY) \
      VALUES (3, '小施', 1999, '高雄市', 47000 )")
c.execute("INSERT INTO Employeee (ID, NAME, BIRTHYEAR, ADDRESS, SALARY) \
      VALUES (4, '小吳', 1998, '台中市', 52000 )")

In [29]:
#確認新增
con.commit()

In [30]:
#執行查詢Employee資料表的所有內容
cursor = c.execute("SELECT * from Employeee")

#檢視查詢結果
for record in cursor:
    print(record)

#關閉與資料庫的連結
con.close()

(1, '小陳', 1997, '新北市', 58000)
(2, '小范', 2000, '臺北市', 50000)
(3, '小施', 1999, '高雄市', 47000)
(4, '小吳', 1998, '台中市', 52000)

In [2]:
import sqlite3
import csv

#連結資料庫檔案
con = sqlite3.connect('myDB5.db')

#建立cursor物件
c = con.cursor()

#建立groups資料表的查詢指令
create_groups = 'CREATE TABLE if not exists groupss ( \
 group_id int primary key not null, \
 group_name char(50) not null \
);'
c.execute(create_groups)

#建立students資料表的查詢指令
create_students = 'CREATE TABLE if not exists studentss ( \
 student_id int primary key not null, \
 student_name char(50) not null, \
 group_id int not null, \
 FOREIGN KEY (group_id) REFERENCES groups (group_id) \
 ON DELETE NO ACTION ON UPDATE NO ACTION \
);'
c.execute(create_students)

#為groups資料表新增資料
c.execute("INSERT INTO groupss (group_id, group_name) VALUES (1, '青色之馬');")
c.execute("INSERT INTO groupss (group_id, group_name) VALUES (2, '夢幻之都');")
c.execute("INSERT INTO groupss (group_id, group_name) VALUES (3, '新不了城');")

students = []
#讀取students.csv中的資料並將其將入students資料表中
with open('students.csv', encoding='utf8') as file:
    students = list(csv.reader(file, delimiter=','))
    for student in students[1:]:
        c.execute("INSERT INTO studentss (student_id, student_name, group_id) \
          VALUES (%d, '%s', %d);" % (eval(student[0]), student[1], eval(student[2])))

#確認新增
con.commit()

In [6]:
#執行查詢Employee資料表的所有內容
cursor = c.execute("SELECT * from studentss")

#檢視查詢結果
for r in cursor:
    print(r)

(1, '小明', 2)
(2, '小偉', 2)
(3, '小聰', 1)
(4, '小德', 1)
(5, '小希', 3)
(6, '小花', 2)
(7, '小朱', 2)
(8, '小祥', 1)
(9, '小盛', 3)
(10, '小霖', 3)
(11, '小翔', 3)
(12, '小華', 1)
(13, '小豪', 2)
(14, '小哲', 3)
(15, '小達', 1)

In [7]:
#執行查詢Employee資料表的所有內容
cursor = c.execute("SELECT * from groupss")

#檢視查詢結果
for r in cursor:
    print(r)

(1, '青色之馬')
(2, '夢幻之都')
(3, '新不了城')

In [15]:
#執行查詢students資料表中屬於第3組的同學的學號、名字、組號和組名
cursor = c.execute("SELECT S.*, G.group_name\
                   FROM studentss S, groupss G \
                   WHERE S.group_id = G.group_id \
                   AND S.group_id = 3")
#檢視查詢結果
for r in cursor:
    print(r)

(5, '小希', 3, '新不了城')
(9, '小盛', 3, '新不了城')
(10, '小霖', 3, '新不了城')
(11, '小翔', 3, '新不了城')
(14, '小哲', 3, '新不了城')

In [16]:
#執行查詢students資料表中屬於第3組的同學的學號、名字、組號和組名
cursor = c.execute("SELECT S.*, G.group_name \
                   FROM studentss S, groupss G \
                   WHERE S.group_id = G.group_id \
                   AND S.group_id = 2")

#檢視查詢結果
for record in cursor:
    print(record)

#關閉與資料庫的連結
con.close()

(1, '小明', 2, '夢幻之都')
(2, '小偉', 2, '夢幻之都')
(6, '小花', 2, '夢幻之都')
(7, '小朱', 2, '夢幻之都')
(13, '小豪', 2, '夢幻之都')