# PYTHON 資料科學期末專題

# [提示]

1. 用Pandas讀入時有時需要注意encoding參數
   
   1.1利用dataframe 去 Creating new feature "Active_case"; Active_case = Confirmed - Deaths – Recovered
   
   1.2 需要注意異常值與缺失值的處理, 注意資料區間, 評估值區間差異過大的問題
   
   1.3 資料的分類, 以期可以分別繪製比對圖形; 繪製出交互作用的地圖

# [基本目標]

1. 繪製出全球的感染與康復人數, 以國家別區分 

2. 利用地理資訊圖表繪製出全球的感染與康復人數

# 參考範例

同學可以參照範例執行, 有問題隨時提問

# <font color='red'> Table of contents </font>
1. <a href='#word'>**Covid-19 - In the world**</a>

1. <a href='#chi'>**Coronavirus in China**</a>

1. <a href='#us'>**Coronavirus in US**</a>

In [1]:
!pip install plotly

Requirement already satisfied: plotly in d:\anaconda3\lib\site-packages (4.13.0)
Requirement already satisfied: retrying>=1.3.3 in d:\anaconda3\lib\site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in d:\anaconda3\lib\site-packages (from plotly) (1.15.0)

In [1]:
# 載入所需要的套件

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
pd.set_option('display.max_rows', None)
from plotly.subplots import make_subplots
import seaborn as sns
import datetime

# 進行資料讀入, 檢視與前處理

In [2]:
# 利用 PANDAS 讀入DATA

data = pd.read_csv('covid_19_data.csv')

In [3]:
# 檢視資料集
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156292 entries, 0 to 156291
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              156292 non-null  int64
 1   ObservationDate  156292 non-null  object
 2   Province/State   111979 non-null  object
 3   Country/Region   156292 non-null  object
 4   Last Update      156292 non-null  object
 5   Confirmed        156292 non-null  float64
 6   Deaths           156292 non-null  float64
 7   Recovered        156292 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 9.5+ MB

In [4]:
# 缺失值處理
#Percentage of NAN Values, 計算缺失值在資料內的比例
NAN = [(c, data[c].isna().mean()*100) for c in data]
NAN = pd.DataFrame(NAN, columns=["column_name", "percentage"])
NAN

       column_name  percentage
0              SNo    0.000000
1  ObservationDate    0.000000
2   Province/State   28.352699
3   Country/Region    0.000000
4      Last Update    0.000000
5        Confirmed    0.000000
6           Deaths    0.000000
7        Recovered    0.000000

In [5]:
# 34 % of Province/State are unknown, 所以我們要把 NAN 的值替換成 Unknown.
data["Province/State"]= data["Province/State"].fillna('Unknown')

In [6]:
#查看資料
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [7]:
# 資料型別轉換, 利於 ARRAY
# 把下列資料換成 INT 整數型別 : "Confirmed","Deaths" and "Recovered" 
data[["Confirmed","Deaths","Recovered"]] =data[["Confirmed","Deaths","Recovered"]].astype(int)

In [8]:
# 為了識別簡易, 把 "Mainland China" 用 "China" 替代
data['Country/Region'] = data['Country/Region'].replace('Mainland China', 'China')

In [9]:
# 原始資料集並無感染的欄位, 利用資料處理新增一項目 "Active_case"
# Active_case = Confirmed - Deaths - Recovered

data['Active_case'] = data['Confirmed'] - data['Deaths'] - data['Recovered']
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Active_case
0,1,01/22/2020,Anhui,China,1/22/2020 17:00,1,0,0,1
1,2,01/22/2020,Beijing,China,1/22/2020 17:00,14,0,0,14
2,3,01/22/2020,Chongqing,China,1/22/2020 17:00,6,0,0,6
3,4,01/22/2020,Fujian,China,1/22/2020 17:00,1,0,0,1
4,5,01/22/2020,Gansu,China,1/22/2020 17:00,0,0,0,0

In [10]:
# 更新INDEX

Data = data[data['ObservationDate'] == max(data['ObservationDate'])].reset_index()
Data.head()

,index,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Active_case
0,155534,155535,11/15/2020,Unknown,Afghanistan,2020-11-16 05:25:57,43240,1617,35092,6531
1,155535,155536,11/15/2020,Unknown,Albania,2020-11-16 05:25:57,27830,623,12889,14318
2,155536,155537,11/15/2020,Unknown,Algeria,2020-11-16 05:25:57,67679,2154,44633,20892
3,155537,155538,11/15/2020,Unknown,Andorra,2020-11-16 05:25:57,5872,76,4747,1049
4,155538,155539,11/15/2020,Unknown,Angola,2020-11-16 05:25:57,13451,322,6444,6685

# 開始使用資料視覺化顯示結果


<a id='word'></a>
#  <font color='red'> **Covid-19 - In the world** </font>

In [11]:
# 整理資料
Data_world = Data.groupby(["ObservationDate"])[["Confirmed","Active_case","Recovered","Deaths"]].sum().reset_index()

In [1]:
labels = ["Last Update","Confirmed","Active cases","Recovered","Deaths"]
fig = go.Figure(data=[go.Table(header=dict(values=labels),
                 cells=dict(values=Data_world.loc[0,["ObservationDate","Confirmed","Active_case","Recovered","Deaths"]]))
                     ])
fig.update_layout(
    title='Coronavirus in the word : ',
)
fig.show()

'labels = ["Last Update","Confirmed","Active cases","Recovered","Deaths"]\nfig = go.Figure(data=[go.Table(header=dict(values=labels),\n                 cells=dict(values=Data_world.loc[0,["ObservationDate","Confirmed","Active_case","Recovered","Deaths"]]))\n                     ])\nfig.update_layout(\n    title=\'Coronavirus in the word : \',\n)\nfig.show()'

In [2]:
# 繪製圓餅圖
labels = ["Active cases","Recovered","Deaths"]
#計算數字
values = Data_world.loc[0, ["Active_case","Recovered","Deaths"]]
#hole=0.7 的空心圓弧
fig = px.pie(Data_world, values=values, names=labels,color_discrete_sequence=['rgb(77,146,33)','rgb(69,144,185)','rgb(77,77,77)']
             ,hole=0.7)
fig.update_layout(
    title='Total cases : '+str(Data_world["Confirmed"][0]),
)
fig.show()

'# 繪製圓餅圖\nlabels = ["Active cases","Recovered","Deaths"]\n#計算數字\nvalues = Data_world.loc[0, ["Active_case","Recovered","Deaths"]]\n#hole=0.7 的空心圓弧\nfig = px.pie(Data_world, values=values, names=labels,color_discrete_sequence=[\'rgb(77,146,33)\',\'rgb(69,144,185)\',\'rgb(77,77,77)\']\n             ,hole=0.7)\nfig.update_layout(\n    title=\'Total cases : \'+str(Data_world["Confirmed"][0]),\n)\nfig.show()'

In [47]:
# Evolution of coronavirus over time
data_over_time= data.groupby(["ObservationDate"])[["Confirmed","Active_case","Recovered","Deaths"]].sum().reset_index()
data_over_time

    ObservationDate  Confirmed  Active_case  Recovered   Deaths
0        01/22/2020        555          510         28       17
1        01/23/2020        653          605         30       18
2        01/24/2020        941          879         36       26
3        01/25/2020       1438         1357         39       42
4        01/26/2020       2118         2010         52       56
5        01/27/2020       2927         2784         61       82
6        01/28/2020       5578         5340        107      131
7        01/29/2020       6165         5906        126      133
8        01/30/2020       8235         7921        143      171
9        01/31/2020       9925         9490        222      213
10       02/01/2020      12038        11495        284      259
11       02/02/2020      16787        15953        472      362
12       02/03/2020      19881        18832        623      426
13       02/04/2020      23892        22548        852      492
14       02/05/2020      27636        25948       1124      564
15       02/06/2020      30818        28697       1487      634
16       02/07/2020      34392        31662       2011      719
17       02/08/2020      37121        33699       2616      806
18       02/09/2020      40151        36001       3244      906
19       02/10/2020      42763        37804       3946     1013
20       02/11/2020      44803        39007       4683     1113
21       02/12/2020      45222        38954       5150     1118
22       02/13/2020      60370        52704       6295     1371
23       02/14/2020      66887        57306       8058     1523
24       02/15/2020      69032        57971       9395     1666
25       02/16/2020      71226        58591      10865     1770
26       02/17/2020      73260        58809      12583     1868
27       02/18/2020      75138        58779      14352     2007
28       02/19/2020      75641        57398      16121     2122
29       02/20/2020      76199        55775      18177     2247
30       02/21/2020      76843        55702      18890     2251
31       02/22/2020      78599        53255      22886     2458
32       02/23/2020      78985        53122      23394     2469
33       02/24/2020      79570        51714      25227     2629
34       02/25/2020      80415        49802      27905     2708
35       02/26/2020      81397        48243      30384     2770
36       02/27/2020      82756        46665      33277     2814
37       02/28/2020      84124        44541      36711     2872
38       02/29/2020      86013        43290      39782     2941
39       03/01/2020      88371        42659      42716     2996
40       03/02/2020      90309        41622      45602     3085
41       03/03/2020      92844        41455      48229     3160
42       03/04/2020      95124        40699      51171     3254
43       03/05/2020      97886        40741      53797     3348
44       03/06/2020     101800        42474      55866     3460
45       03/07/2020     105836        43919      58359     3558
46       03/08/2020     109835        45337      60695     3803
47       03/09/2020     113582        47074      62512     3996
48       03/10/2020     118582        49916      64404     4262
49       03/11/2020     125865        54247      67003     4615
50       03/12/2020     128343        55299      68324     4720
51       03/13/2020     145193        69538      70251     5404
52       03/14/2020     156099        77656      72624     5819
53       03/15/2020     167447        84973      76034     6440
54       03/16/2020     181546        96332      78088     7126
55       03/17/2020     197168       108423      80840     7905
56       03/18/2020     214915       122869      83313     8733
57       03/19/2020     242713       147884      84962     9867
58       03/20/2020     272167       173465      87403    11299
59       03/21/2020     304549       199900      91676    12973
60       03/22/2020     337122       225256      97243    14623
61       03/23/2020     378283       260828     100958    16497
62       03/24/2020     417962       291648     107699    18615
63       03/25/2020     467594       332649     113764    21181
64       03/26/2020     529591       383477     122144    23970
65       03/27/2020     593291       435184     130909    27198
66       03/28/2020     660693       490632     139409    30652
67       03/29/2020     720140       537139     149076    33925
68       03/30/2020     782389       580247     164560    37582
69       03/31/2020     857487       637352     178028    42107
70       04/01/2020     932605       692625     193171    46809
71       04/02/2020    1013303       750057     210263    52983
72       04/03/2020    1095917       811334     225796    58787
73       04/04/2020    1197408       886650     246152    64606
74       04/05/2020    1272115       942729     260012    69374
75       04/06/2020    1345101       994021     276515    74565
76       04/07/2020    1426096      1044177     300054    81865
77       04/08/2020    1511104      1094105     328661    88338
78       04/09/2020    1595350      1145920     353975    95455
79       04/10/2020    1691719      1213098     376096   102525
80       04/11/2020    1771514      1260902     402110   108502
81       04/12/2020    1846680      1310869     421722   114089
82       04/13/2020    1917320      1349183     448655   119482
83       04/14/2020    1976192      1375947     474261   125984
84       04/15/2020    2056055      1410859     511019   134177
85       04/16/2020    2152647      1466739     542107   143801
86       04/17/2020    2240191      1518026     568343   153822
87       04/18/2020    2317759      1565930     592319   159510
88       04/19/2020    2401379      1612432     623903   165044
89       04/20/2020    2472259      1656535     645738   169986
90       04/21/2020    2549123      1692721     679819   176583
91       04/22/2020    2623960      1731200     709694   183066
92       04/23/2020    2708885      1779541     738486   190858
93       04/24/2020    2810715      1820144     793420   197151
94       04/25/2020    2896746      1877215     816685   202846
95       04/26/2020    2971475      1899198     865733   206544
96       04/27/2020    3041657      1936523     893967   211167
97       04/28/2020    3116398      1970587     928658   217153
98       04/29/2020    3193886      1993529     972719   227638
99       04/30/2020    3256846      2008705    1014753   233388
100      05/01/2020    3343777      2051800    1053327   238650
101      05/02/2020    3427343      2090423    1093112   243808
102      05/03/2020    3506729      2134023    1125236   247470
103      05/04/2020    3583055      2168794    1162724   251537
104      05/05/2020    3662691      2206620    1198832   257239
105      05/06/2020    3755341      2246097    1245413   263831
106      05/07/2020    3845718      2291410    1284741   269567
107      05/08/2020    3938064      2341116    1322050   274898
108      05/09/2020    4024009      2369074    1375624   279311
109      05/10/2020    4101699      2410010    1408980   282709
110      05/11/2020    4177504      2434965    1456209   286330
111      05/12/2020    4261955      2476577    1493414   291964
112      05/13/2020    4347018      2501274    1548547   297197
113      05/14/2020    4442163      2551852    1587893   302418
114      05/15/2020    4542347      2597614    1637067   307666
115      05/16/2020    4634068      2629090    1693197   311781
116      05/17/2020    4713620      2664472    1733963   315185
117      05/18/2020    4801943      2696587    1786875   318481
118      05/19/2020    4897492      2735212    1838995   323285
119      05/20/2020    4996472      2770891    1897466   328115
120      05/21/2020    5102424      2820761    1948739   332924
121      05/22/2020    5210817      2816014    2056643   338160
122      05/23/2020    5310362      2856080    2112185   342097
123      05/24/2020    5407613      2893991    2168563   345059
124      05/25/2020    5495074      2917104    2231738   346232
125      05/26/2020    5589639      2952230    2286956   350453
126      05/27/2020    5691803      2986086    2350088   355629
127      05/28/2020    5808960      3032692    2415960   360308
128      05/29/2020    5924289      3065887    2493535   364867
129      05/30/2020    6059031      3125212    2564693   369126
130      05/31/2020    6166960      3153596    2641329   372035
131      06/01/2020    6265866      3194314    2696009   375543
132      06/02/2020    6386378      3276468    2729527   380383
133      06/03/2020    6508649      3317720    2804982   385947
134      06/04/2020    6632999      3371900    2869963   391136
135      06/05/2020    6770184      3360931    3013132   396121
136      06/06/2020    6896931      3411098    3085833   400000
137      06/07/2020    7010596      3466932    3140920   402744
138      06/08/2020    7119016      3419065    3293408   406543
139      06/09/2020    7242327      3455218    3375673   411436
140      06/10/2020    7360254      3489246    3454807   416201
141      06/11/2020    7514496      3552342    3540696   421458
142      06/12/2020    7632817      3594146    3613277   425394
143      06/13/2020    7766967      3638927    3698304   429736
144      06/14/2020    7900939      3698161    3769712   433066
145      06/15/2020    8034519      3740281    3857339   436899
146      06/16/2020    8173955      3775101    3955169   443685
147      06/17/2020    8349965      3827051    4073955   448959
148      06/18/2020    8488992      3879908    4155099   453985
149      06/19/2020    8668538      3962544    4245777   460217
150      06/20/2020    8791819      3949099    4378255   464465
151      06/21/2020    8955551      4040100    4447086   468365
152      06/22/2020    9098657      4100153    4526333   472171
153      06/23/2020    9263482      4155507    4630391   477584
154      06/24/2020    9430532      4201661    4746118   482753
155      06/25/2020    9609845      4281612    4838921   489312
156      06/26/2020    9801588      4361850    4945557   494181
157      06/27/2020    9979551      4428977    5051864   498710
158      06/28/2020   10145808      4503016    5140899   501893
159      06/29/2020   10302168      4560850    5235813   505505
160      06/30/2020   10475855      4611330    5353272   511253
161      07/01/2020   10692568      4598674    5577684   516210
162      07/02/2020   10869756      4594452    5754006   521298
163      07/03/2020   11074895      4684637    5863847   526411
164      07/04/2020   11267326      4677007    6059565   530754
165      07/05/2020   11449724      4736451    6179006   534267
166      07/06/2020   11620113      4779429    6302626   538058
167      07/07/2020   11829619      4837800    6447656   544163
168      07/08/2020   12041497      4905303    6586726   549468
169      07/09/2020   12268536      4973488    6740124   554924
170      07/10/2020   12498485      5058755    6879521   560209
171      07/11/2020   12717926      5147489    7005299   565138
172      07/12/2020   12910375      5224290    7116957   569128
173      07/13/2020   13104409      5274037    7257369   573003
174      07/14/2020   13324075      5345955    7399474   578646
175      07/15/2020   13554495      5411119    7559252   584124
176      07/16/2020   13805314      5503878    7711525   589911
177      07/17/2020   14055317      5563909    7894890   596518
178      07/18/2020   14292940      5644969    8045827   602144
179      07/19/2020   14507509      5767673    8133663   606173
180      07/20/2020   14707978      5807653    8290431   609894
181      07/21/2020   14947614      5864019    8467147   616448
182      07/22/2020   15229758      5962328    8643987   623443
183      07/23/2020   15511175      6063893    8813886   633396
184      07/24/2020   15792408      6109553    9043203   639652
185      07/25/2020   16047004      6139227    9262520   645257
186      07/26/2020   16252779      6206508    9397626   648645
187      07/27/2020   16487687      6261013    9572619   654055
188      07/28/2020   16691545      6320736    9711187   659622
189      07/29/2020   17029173      6413999    9948163   667011
190      07/30/2020   17309823      6465979   10170650   673194
191      07/31/2020   17600080      6551310   10369255   679515
192      08/01/2020   17850947      6612010   10553852   685085
193      08/02/2020   18079534      6699619   10690555   689360
194      08/03/2020   18282226      6675532   10913000   693694
195      08/04/2020   18540807      6705363   11134735   700709
196      08/05/2020   18812189      6747950   11356431   707808
197      08/06/2020   19097167      6836826   11545401   714940
198      08/07/2020   19378054      6918678   11738052   721324
199      08/08/2020   19637714      6971489   11939431   726794
200      08/09/2020   19862079      7014439   12116289   731351
201      08/10/2020   20089642      7072931   12280520   736191
202      08/11/2020   20343779      7015488   12585663   742628
203      08/12/2020   20631163      7053516   12828035   749612
204      08/13/2020   20906207      7158229   12992381   755597
205      08/14/2020   21209023      7166470   13276831   765722
206      08/15/2020   21459718      7242811   13445844   771063
207      08/16/2020   21672346      7219991   13677100   775255
208      08/17/2020   21882147      7219408   13888685   774054
209      08/18/2020   22138086      7240480   14116672   780934
210      08/19/2020   22411622      7289658   14334257   787707
211      08/20/2020   22678963      7343056   14542161   793746
212      08/21/2020   22949253      7437747   14712254   799252
213      08/22/2020   23203724      7487781   14911518   804425
214      08/23/2020   23420438      7474557   15137205   808676
215      08/24/2020   23647496      7497055   15337406   813035
216      08/25/2020   23889170      7499563   15570193   819414
217      08/26/2020   24177013      7556716   15794597   825700
218      08/27/2020   24452947      7623771   15997580   831596
219      08/28/2020   24734899      7699146   16198618   837135
220      08/29/2020   24997023      7744178   16410326   842519
221      08/30/2020   25223398      7758120   16618855   846423
222      08/31/2020   25485577      7814604   16820401   850572
223      09/01/2020   25750602      7818150   17075392   857060
224      09/02/2020   26032460      7876370   17293011   863079
225      09/03/2020   26305984      7923279   17513912   868793
226      09/04/2020   26610729      8017517   17718780   874432
227      09/05/2020   26874556      8075892   17919289   879375
228      09/06/2020   27105350      8082866   18139070   883414
229      09/07/2020   27334029      8114587   18326919   892523
230      09/08/2020   27572437      8148587   18526387   897463
231      09/09/2020   27865507      8182872   18778863   903772
232      09/10/2020   28163733      8259531   18994630   909572
233      09/11/2020   28483315      8349697   19218164   915454
234      09/12/2020   28760939      8398964   19441643   920332
235      09/13/2020   28996870      8445305   19627584   923981
236      09/14/2020   29192948      8487688   19777899   927361
237      09/15/2020   29560370      8543426   20081977   934967
238      09/16/2020   29864768      8612943   20311101   940724
239      09/17/2020   30178552      8701782   20530587   946183
240      09/18/2020   30501907      8767486   20782529   951892
241      09/19/2020   30783203      8805610   21020466   957127
242      09/20/2020   31026693      8809271   21256599   960823
243      09/21/2020   31325070      8860179   21499949   964942
244      09/22/2020   31605353      8916179   21718209   970965
245      09/23/2020   31870812      8912345   21981930   976537
246      09/24/2020   32232504      9012570   22236681   983253
247      09/25/2020   32566607      9101043   22476408   989156
248      09/26/2020   32844368      9130172   22719759   994437
249      09/27/2020   33088704      9160505   22930159   998040
250      09/28/2020   33362459      9204783   23155715  1001961
251      09/29/2020   33647197      9246741   23392396  1008060
252      09/30/2020   33973365      9316961   23641932  1014472
253      10/01/2020   34285769      9408442   23854306  1023021
254      10/02/2020   34588068      9525482   24034444  1028142
255      10/03/2020   34893691      9567561   24292630  1033500
256      10/04/2020   35156682      9608581   24510831  1037270
257      10/05/2020   35481495      9687496   24749718  1044281
258      10/06/2020   35810131      9778766   24981297  1050068
259      10/07/2020   36158865      9866287   25236697  1055881
260      10/08/2020   36519490     10001147   25456260  1062083
261      10/09/2020   36879431     10149588   25661624  1068219
262      10/10/2020   37210092     10283378   25853670  1073044
263      10/11/2020   37479940     10331504   26071496  1076940
264      10/12/2020   37805389     10448475   26276045  1080869
265      10/13/2020   38134556     10581719   26466504  1086333
266      10/14/2020   38514508     10743661   26678511  1092336
267      10/15/2020   38922013     10938283   26885286  1098444
268      10/16/2020   39332558     11138065   27089940  1104553
269      10/17/2020   39673920     11275264   27288620  1110036
270      10/18/2020   39960089     11359090   27487616  1113383
271      10/19/2020   40408403     11592114   27697918  1118371
272      10/20/2020   40797147     11763850   27908333  1124964
273      10/21/2020   41240194     11989193   28119471  1131530
274      10/22/2020   41709955     12226665   28345875  1137415
275      10/23/2020   42216290     12519930   28551998  1144362
276      10/24/2020   42627523     12714250   28763265  1150008
277      10/25/2020   43019989     12905443   28960456  1154090
278      10/26/2020   43511827     13153061   29199046  1159720
279      10/27/2020   43981895     13025199   29789567  1167129
280      10/28/2020   44497560     13271100   30052209  1174251
281      10/29/2020   45036388     13556351   30298756  1181281
282      10/30/2020   45601023     14721716   29690219  1189088
283      10/31/2020   46087107     14071239   30820223  1195645
284      11/01/2020   46528907     14250498   31077827  1200582
285      11/02/2020   46977455     14413226   31357886  1206343
286      11/03/2020   47455437     14631780   31609242  1214415
287      11/04/2020   48140226     15025307   31889030  1225889
288      11/05/2020   48733553     15307123   32192465  1233965
289      11/06/2020   49374986     15650832   32480626  1243528
290      11/07/2020   49886987     15856342   32779541  1251104
291      11/08/2020   50451833     16162229   33032762  1256842
292      11/09/2020   50918936     16365568   33289404  1263964
293      11/10/2020   51460740     16643710   33544236  1272794
294      11/11/2020   52126793     16915970   33926351  1284472
295      11/12/2020   52740580     17297403   34149223  1293954
296      11/13/2020   53365400     17612512   34450332  1302556
297      11/14/2020   53927158     17889548   34726418  1311192
298      11/15/2020   54370186     18097899   34955148  1317139

In [3]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=data_over_time.index, y=data_over_time['Confirmed'],
                    mode='lines',
                    name='Confirmed cases'))

fig.update_layout(
    title='Evolution of Confirmed cases over time in the word',
        template='plotly_white',
      yaxis_title="Confirmed cases",
    xaxis_title="Days",
)

fig.show()

'fig = go.Figure()\nfig.add_trace(go.Scatter(x=data_over_time.index, y=data_over_time[\'Confirmed\'],\n                    mode=\'lines\',\n                    name=\'Confirmed cases\'))\n\nfig.update_layout(\n    title=\'Evolution of Confirmed cases over time in the word\',\n        template=\'plotly_white\',\n      yaxis_title="Confirmed cases",\n    xaxis_title="Days",\n)\n\nfig.show()'

In [4]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=data_over_time.index, y=data_over_time['Active_case'],
                    mode='lines',
                    name='Active cases',line=dict(color="yellow", dash='dot')))

fig.update_layout(
    title='Evolution of Active cases over time in the world',
        template='plotly_dark',
      yaxis_title="Active cases",
    xaxis_title="Days",
)

fig.show()

'fig = go.Figure()\n\nfig.add_trace(go.Scatter(x=data_over_time.index, y=data_over_time[\'Active_case\'],\n                    mode=\'lines\',\n                    name=\'Active cases\',line=dict(color="yellow", dash=\'dot\')))\n\nfig.update_layout(\n    title=\'Evolution of Active cases over time in the world\',\n        template=\'plotly_dark\',\n      yaxis_title="Active cases",\n    xaxis_title="Days",\n)\n\nfig.show()'

In [5]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=data_over_time.index, y=data_over_time['Recovered'],
                    mode='lines',
                    name='Recovered cases',marker_color='green'))

fig.update_layout(
    title='Evolution of Recovered cases over time in the world',
        template='plotly_white',
      yaxis_title="Recovered cases",
    xaxis_title="Days",

)

fig.show()

'fig = go.Figure()\n\nfig.add_trace(go.Scatter(x=data_over_time.index, y=data_over_time[\'Recovered\'],\n                    mode=\'lines\',\n                    name=\'Recovered cases\',marker_color=\'green\'))\n\nfig.update_layout(\n    title=\'Evolution of Recovered cases over time in the world\',\n        template=\'plotly_white\',\n      yaxis_title="Recovered cases",\n    xaxis_title="Days",\n\n)\n\nfig.show()'

In [6]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=data_over_time.index, y=data_over_time['Deaths'],name='Deaths',
                                   marker_color='black',mode='lines',line=dict( dash='dot') ))

fig.update_layout(
    title='Evolution of Deaths over time in the world',
        template='plotly_white',
     yaxis_title="Deaths",
    xaxis_title="Days",
)

fig.show()

'fig = go.Figure()\n\nfig.add_trace(go.Scatter(x=data_over_time.index, y=data_over_time[\'Deaths\'],name=\'Deaths\',\n                                   marker_color=\'black\',mode=\'lines\',line=dict( dash=\'dot\') ))\n\nfig.update_layout(\n    title=\'Evolution of Deaths over time in the world\',\n        template=\'plotly_white\',\n     yaxis_title="Deaths",\n    xaxis_title="Days",\n)\n\nfig.show()'

In [7]:
fig = go.Figure(go.Bar(
            x=data_over_time['ObservationDate'],
            y=data_over_time['Confirmed'],
           ))
fig.update_layout(
    title='Confirmed Cases In Each Day',
    template='plotly_white',
     xaxis_title="Confirmed Cases",
    yaxis_title="Days",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=data_over_time[\'ObservationDate\'],\n            y=data_over_time[\'Confirmed\'],\n           ))\nfig.update_layout(\n    title=\'Confirmed Cases In Each Day\',\n    template=\'plotly_white\',\n     xaxis_title="Confirmed Cases",\n    yaxis_title="Days",\n)\nfig.show()'

In [8]:
fig = go.Figure(go.Bar(
            x=data_over_time['ObservationDate'],
            y=data_over_time['Active_case'],
    marker_color='rgb(253,187,132)'
           ))
fig.update_layout(
    title='Active Cases In Each Day',
    template='plotly_dark',
     xaxis_title="Active Cases",
    yaxis_title="Days",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=data_over_time[\'ObservationDate\'],\n            y=data_over_time[\'Active_case\'],\n    marker_color=\'rgb(253,187,132)\'\n           ))\nfig.update_layout(\n    title=\'Active Cases In Each Day\',\n    template=\'plotly_dark\',\n     xaxis_title="Active Cases",\n    yaxis_title="Days",\n)\nfig.show()'

In [9]:
fig = go.Figure(go.Bar(
            x=data_over_time['ObservationDate'],
            y=data_over_time['Recovered'],
    marker_color='rgb(178,24,43)'
           ))
fig.update_layout(
    title='Recovered Cases In Each Day',
    template='plotly_white',
     xaxis_title="Recovered Cases",
    yaxis_title="Days",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=data_over_time[\'ObservationDate\'],\n            y=data_over_time[\'Recovered\'],\n    marker_color=\'rgb(178,24,43)\'\n           ))\nfig.update_layout(\n    title=\'Recovered Cases In Each Day\',\n    template=\'plotly_white\',\n     xaxis_title="Recovered Cases",\n    yaxis_title="Days",\n)\nfig.show()'

In [10]:
fig = go.Figure(go.Bar(
            x=data_over_time['ObservationDate'],
            y=data_over_time['Deaths'],
    marker_color='rgb(13,48,100)'
           ))
fig.update_layout(
    title='Deaths In Each Day',
    template='plotly_white',
     xaxis_title="Deaths",
    yaxis_title="Days",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=data_over_time[\'ObservationDate\'],\n            y=data_over_time[\'Deaths\'],\n    marker_color=\'rgb(13,48,100)\'\n           ))\nfig.update_layout(\n    title=\'Deaths In Each Day\',\n    template=\'plotly_white\',\n     xaxis_title="Deaths",\n    yaxis_title="Days",\n)\nfig.show()'

 **Confirmed cases in each Country**

In [79]:
Data_per_country = Data.groupby(["Country/Region"])["Confirmed","Active_case","Recovered","Deaths"].sum().sort_values("Confirmed",ascending=False).reset_index()
Data_per_country

<ipython-input-79-7dca2179fe90>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,Country/Region,Confirmed,Active_case,Recovered,Deaths
0,US,11036935,6615837,4174884,246214
1,India,8845127,465478,8249579,130070
2,Brazil,5863093,417843,5279452,165798
3,France,1915713,1733352,139760,42601
4,Russia,1910149,447699,1429565,32885
5,Spain,1458591,1267446,150376,40769
6,UK,1372884,1317737,3121,52026
7,Argentina,1310491,145953,1129102,35436
8,Colombia,1198746,59759,1104956,34031
9,Italy,1178529,712490,420810,45229
10,Mexico,1006522,157790,750190,98542
11,Peru,934899,41334,858388,35177
12,Germany,802946,284659,505714,12573
13,Iran,762068,161757,558818,41493
14,South Africa,751024,37316,693467,20241
15,Poland,712972,407841,294783,10348
16,Ukraine,551533,289765,251864,9904
17,Belgium,535939,521518,0,14421
18,Chile,531273,9754,506700,14819
19,Iraq,519152,60443,447039,11670
20,Indonesia,467113,59911,391991,15211
21,Czech Republic,460116,126602,327306,6208
22,Netherlands,454961,439954,6448,8559
23,Bangladesh,432333,76597,349542,6194
24,Turkey,414278,49108,353663,11507
25,Philippines,407838,25677,374329,7832
26,Romania,360281,107523,243832,8926
27,Pakistan,359032,28048,323824,7160
28,Saudi Arabia,353255,7294,340304,5657
29,Israel,323741,7629,313380,2732
30,Canada,299422,47987,240434,11001
31,Morocco,293177,49800,238598,4779
32,Switzerland,257135,112766,141000,3369
33,Portugal,217301,88854,125066,3381
34,Nepal,209776,35125,173430,1221
35,Austria,203956,76453,125674,1829
36,Ecuador,180295,6648,160639,13008
37,Sweden,177355,171191,0,6164
38,United Arab Emirates,150345,6563,143252,530
39,Panama,146653,18410,125370,2873
40,Jordan,143678,131839,10067,1772
41,Bolivia,143246,17260,117137,8849
42,Hungary,140961,106265,31599,3097
43,Kuwait,136840,8417,127585,838
44,Qatar,135785,2767,132784,234
45,Dominican Republic,133724,21458,109981,2285
46,Costa Rica,123223,46336,75341,1546
47,Kazakhstan,121051,9208,109944,1899
48,Oman,120389,7955,111096,1338
49,Japan,118611,24783,91954,1874
50,Armenia,117337,40590,74984,1763
51,Guatemala,114885,6515,104438,3932
52,Belarus,114185,17296,95843,1046
53,Egypt,110767,3268,101046,6453
54,Lebanon,105430,44197,60416,817
55,Honduras,103102,55501,44778,2823
56,Ethiopia,102720,37285,63866,1569
57,Bulgaria,98251,66746,29375,2130
58,Venezuela,97352,4128,92373,851
59,Moldova,89279,16448,70812,2019
60,Slovakia,86767,55738,30519,510
61,China,86346,380,81332,4634
62,Bahrain,84703,1900,82469,334
63,Serbia,84568,83559,0,1009
64,Croatia,84206,16926,66231,1049
65,Tunisia,80404,23697,54362,2345
66,Georgia,79678,16914,62061,703
67,Azerbaijan,75688,19571,55150,967
68,Greece,74205,50025,23074,1106
69,Libya,73602,28452,44133,1017
70,Bosnia and Herzegovina,71956,34461,35606,1889
71,Paraguay,71574,18612,51375,1587
72,Kenya,70245,23210,45766,1269
73,Uzbekistan,70243,2119,67526,598
74,Burma,68994,15066,52351,1577
75,Ireland,67903,42560,23364,1979
76,Algeria,67679,20892,44633,2154
77,Kyrgyzstan,66983,8020,57760,1203
78,Nigeria,65148,2912,61073,1163
79,West Bank and Gaza,63031,8120,54346,565
80,Denmark,62652,13633,48259,760
81,Singapore,58119,62,58029,28
82,Slovenia,55042,19381,34864,797
83,Ghana,50123,1473,48328,322
84,Malaysia,47417,12323,34785,309
85,North Macedonia,47050,18381,27364,1305
86,Afghanistan,43240,6531,35092,1617
87,El Salvador,36358,2593,32721,1044
88,Lithuania,34758,26728,7753,277
89,Kosovo,29117,10990,17305,822
90,South Korea,28769,2516,25759,494
91,Norway,28434,16277,11863,294
92,Albania,27830,14318,12889,623
93,Australia,27749,1374,25468,907
94,Montenegro,27177,9399,17387,391
95,Luxembourg,25931,10284,15428,219
96,Cameroon,22692,749,21510,433
97,Ivory Coast,20976,201,20647,128
98,Finland,19315,4946,14000,369
99,Madagascar,17310,468,16592,250
100,Sri Lanka,17287,5734,11495,58
101,Zambia,17123,633,16137,353
102,Uganda,16020,7837,8038,145
103,Senegal,15793,49,15416,328
104,Sudan,14626,3939,9571,1116
105,Mozambique,14448,1830,12505,113
106,Namibia,13508,690,12680,138
107,Angola,13451,6685,6444,322
108,Guinea,12611,1385,11151,75
109,Maldives,12204,872,11289,43
110,Congo (Kinshasa),11760,355,11086,319
111,Tajikistan,11610,552,10973,85
112,Latvia,10547,8909,1515,123
113,Jamaica,9884,4405,5248,231
114,Cabo Verde,9822,499,9220,103
115,Haiti,9168,1235,7701,232
116,Gabon,9062,65,8939,58
117,Zimbabwe,8829,476,8096,257
118,Botswana,8225,2639,5559,27
119,Malta,8034,2172,5765,97
120,Mauritania,7952,263,7524,165
121,Estonia,7637,2815,4741,81
122,Cuba,7590,399,7060,131
123,Bahamas,7186,1707,5323,156
124,Cyprus,7178,5118,2021,39
125,Syria,6684,3625,2714,345
126,Eswatini,6095,197,5779,119
127,Trinidad and Tobago,6080,566,5402,112
128,Malawi,5965,381,5399,185
129,Andorra,5872,1049,4747,76
130,Nicaragua,5661,1278,4225,158
131,Djibouti,5649,63,5525,61
132,Congo (Brazzaville),5515,1536,3887,92
133,Hong Kong,5458,156,5194,108
134,Rwanda,5455,415,4995,45
135,Suriname,5274,12,5148,114
136,Iceland,5189,351,4813,25
137,Equatorial Guinea,5104,46,4973,85
138,Central African Republic,4900,2913,1924,63
139,Belize,4861,2173,2598,90
140,Guyana,4823,907,3777,139
141,Somalia,4301,864,3330,107
142,Uruguay,4030,732,3233,65
143,Mali,3900,810,2949,141
144,Thailand,3875,94,3721,60
145,Gambia,3702,9,3571,122
146,South Sudan,3003,1654,1290,59
147,Benin,2844,286,2515,43
148,Togo,2675,694,1920,61
149,Burkina Faso,2641,128,2445,68
150,Guinea-Bissau,2419,121,2255,43
151,Sierra Leone,2391,497,1820,74
152,Yemen,2072,73,1394,605
153,Lesotho,2041,941,1056,44
154,New Zealand,2001,58,1918,25
155,Chad,1597,53,1443,101
156,Liberia,1507,111,1314,82
157,Niger,1307,89,1148,70
158,Vietnam,1281,143,1103,35
159,San Marino,1253,323,888,42
160,Liechtenstein,985,298,682,5
161,Sao Tome and Principe,965,32,917,16
162,Diamond Princess,712,40,659,13
163,Burundi,628,78,549,1
164,Papua New Guinea,602,9,586,7
165,Taiwan,602,59,536,7
166,Comoros,579,23,549,7
167,Monaco,548,96,450,2
168,Tanzania,509,305,183,21
169,Eritrea,493,49,444,0
170,Mauritius,478,37,431,10
171,Mongolia,431,103,328,0
172,Bhutan,375,20,355,0
173,Cambodia,302,13,289,0
174,Barbados,250,5,238,7
175,Saint Lucia,162,114,46,2
176,Seychelles,160,3,157,0
177,Brunei,148,0,145,3
178,Antigua and Barbuda,134,3,127,4
179,Saint Vincent and the Grenadines,78,1,77,0
180,Dominica,68,27,41,0
181,Macau,46,0,46,0
182,Fiji,35,1,32,2
183,Grenada,32,5,27,0
184,Timor-Leste,30,0,30,0
185,Holy See,27,12,15,0
186,Laos,24,1,23,0
187,Saint Kitts and Nevis,19,0,19,0
188,Solomon Islands,16,11,5,0
189,Western Sahara,10,1,8,1
190,MS Zaandam,9,7,0,2
191,Marshall Islands,1,0,1,0
192,Vanuatu,1,1,0,0

In [11]:
headerColor = 'grey'
rowEvenColor = 'lightgrey'
rowOddColor = 'white'

fig = go.Figure(data=[go.Table(
  header=dict(
    values=['<b>Country</b>','<b>Confirmed Cases</b>'],
    line_color='darkslategray',
    fill_color=headerColor,
    align=['left','center'],
      
    font=dict(color='white', size=12)
  ),
  cells=dict(
    values=[
      Data_per_country['Country/Region'],
      Data_per_country['Confirmed'],
      ],
    line_color='darkslategray',
    # 2-D list of colors for alternating rows
    fill_color = [[rowOddColor,rowEvenColor,rowOddColor, rowEvenColor,rowOddColor]*len(Data_per_country)],
    align = ['left', 'center'],
    font = dict(color = 'darkslategray', size = 11)
    ))
])
fig.update_layout(
    title='Confirmed Cases In Each Country',
)
fig.show()

"headerColor = 'grey'\nrowEvenColor = 'lightgrey'\nrowOddColor = 'white'\n\nfig = go.Figure(data=[go.Table(\n  header=dict(\n    values=['<b>Country</b>','<b>Confirmed Cases</b>'],\n    line_color='darkslategray',\n    fill_color=headerColor,\n    align=['left','center'],\n      \n    font=dict(color='white', size=12)\n  ),\n  cells=dict(\n    values=[\n      Data_per_country['Country/Region'],\n      Data_per_country['Confirmed'],\n      ],\n    line_color='darkslategray',\n    # 2-D list of colors for alternating rows\n    fill_color = [[rowOddColor,rowEvenColor,rowOddColor, rowEvenColor,rowOddColor]*len(Data_per_country)],\n    align = ['left', 'center'],\n    font = dict(color = 'darkslategray', size = 11)\n    ))\n])\nfig.update_layout(\n    title='Confirmed Cases In Each Country',\n)\nfig.show()"

In [12]:
fig = go.Figure(go.Bar(
            x=Data_per_country['Confirmed'],
            y=Data_per_country['Country/Region'],
            orientation='h')) #"h" or "v"
fig.update_layout(
    title='Confirmed Cases In Each Country',
    template='plotly_dark',
     xaxis_title="Confirmed Cases",
    yaxis_title="Countries",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=Data_per_country[\'Confirmed\'],\n            y=Data_per_country[\'Country/Region\'],\n            orientation=\'h\')) #"h" or "v"\nfig.update_layout(\n    title=\'Confirmed Cases In Each Country\',\n    template=\'plotly_dark\',\n     xaxis_title="Confirmed Cases",\n    yaxis_title="Countries",\n)\nfig.show()'

In [13]:
fig = go.Figure(go.Bar(
            x=Data_per_country['Active_case'],
            y=Data_per_country['Country/Region'],
            orientation='h',
            marker_color='#DC3912',))
fig.update_layout(
    title='Active Cases In Each Country',
    template='plotly_white',
    xaxis_title="Active Cases",
    yaxis_title="Countries",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=Data_per_country[\'Active_case\'],\n            y=Data_per_country[\'Country/Region\'],\n            orientation=\'h\',\n            marker_color=\'#DC3912\',))\nfig.update_layout(\n    title=\'Active Cases In Each Country\',\n    template=\'plotly_white\',\n    xaxis_title="Active Cases",\n    yaxis_title="Countries",\n)\nfig.show()'

In [14]:
fig = go.Figure(go.Bar(
            x=Data_per_country['Recovered'],
            y=Data_per_country['Country/Region'],
            orientation='h',
            marker_color='#2CA02C',))
fig.update_layout(
    title='Recovered Cases In Each Country',
    template='plotly_white',
     xaxis_title="Recovered Cases",
    yaxis_title="Countries",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=Data_per_country[\'Recovered\'],\n            y=Data_per_country[\'Country/Region\'],\n            orientation=\'h\',\n            marker_color=\'#2CA02C\',))\nfig.update_layout(\n    title=\'Recovered Cases In Each Country\',\n    template=\'plotly_white\',\n     xaxis_title="Recovered Cases",\n    yaxis_title="Countries",\n)\nfig.show()'

In [15]:
fig = go.Figure(go.Bar(
            x=Data_per_country['Deaths'],
            y=Data_per_country['Country/Region'],
            orientation='h',
            marker_color='black',))
fig.update_layout(
    title='Deaths In Each Country',
    template='plotly_white',
    xaxis_title="Deaths",
    yaxis_title="Countries",
)

fig.show()

'fig = go.Figure(go.Bar(\n            x=Data_per_country[\'Deaths\'],\n            y=Data_per_country[\'Country/Region\'],\n            orientation=\'h\',\n            marker_color=\'black\',))\nfig.update_layout(\n    title=\'Deaths In Each Country\',\n    template=\'plotly_white\',\n    xaxis_title="Deaths",\n    yaxis_title="Countries",\n)\n\nfig.show()'

In [16]:
fig = px.choropleth(Data_per_country, locations=Data_per_country['Country/Region'],
                    color=Data_per_country['Confirmed'],locationmode='country names', 
                    hover_name=Data_per_country['Country/Region'], 
                    color_continuous_scale=px.colors.sequential.Tealgrn,template='plotly_dark', )
fig.update_layout(
    title='Confirmed Cases In Each Country',
)
fig.show()

"fig = px.choropleth(Data_per_country, locations=Data_per_country['Country/Region'],\n                    color=Data_per_country['Confirmed'],locationmode='country names', \n                    hover_name=Data_per_country['Country/Region'], \n                    color_continuous_scale=px.colors.sequential.Tealgrn,template='plotly_dark', )\nfig.update_layout(\n    title='Confirmed Cases In Each Country',\n)\nfig.show()"

In [17]:
fig = px.choropleth(Data_per_country, locations=Data_per_country['Country/Region'],
                    color=Data_per_country['Active_case'],locationmode='country names', 
                    hover_name=Data_per_country['Country/Region'], 
                    color_continuous_scale=px.colors.sequential.Tealgrn,template='plotly_white', )
fig.update_layout(
    title='Active Cases In Each Country',
)
fig.show()

"fig = px.choropleth(Data_per_country, locations=Data_per_country['Country/Region'],\n                    color=Data_per_country['Active_case'],locationmode='country names', \n                    hover_name=Data_per_country['Country/Region'], \n                    color_continuous_scale=px.colors.sequential.Tealgrn,template='plotly_white', )\nfig.update_layout(\n    title='Active Cases In Each Country',\n)\nfig.show()"

In [18]:
fig = px.choropleth(Data_per_country, locations=Data_per_country['Country/Region'],
                    color=Data_per_country['Recovered'],locationmode='country names', 
                    hover_name=Data_per_country['Country/Region'], 
                    color_continuous_scale=px.colors.sequential.Tealgrn,template='plotly_white', )
fig.update_layout(
    title='Recovered Cases In Each Country',
)
fig.show()

"fig = px.choropleth(Data_per_country, locations=Data_per_country['Country/Region'],\n                    color=Data_per_country['Recovered'],locationmode='country names', \n                    hover_name=Data_per_country['Country/Region'], \n                    color_continuous_scale=px.colors.sequential.Tealgrn,template='plotly_white', )\nfig.update_layout(\n    title='Recovered Cases In Each Country',\n)\nfig.show()"

In [19]:
fig = px.choropleth(Data_per_country, locations=Data_per_country['Country/Region'],
                    color=Data_per_country['Deaths'],locationmode='country names', 
                    hover_name=Data_per_country['Country/Region'], 
                    color_continuous_scale=px.colors.sequential.Tealgrn,template='plotly_dark', )
fig.update_layout(
    title='Deaths In Each Country',
)
fig.show()

"fig = px.choropleth(Data_per_country, locations=Data_per_country['Country/Region'],\n                    color=Data_per_country['Deaths'],locationmode='country names', \n                    hover_name=Data_per_country['Country/Region'], \n                    color_continuous_scale=px.colors.sequential.Tealgrn,template='plotly_dark', )\nfig.update_layout(\n    title='Deaths In Each Country',\n)\nfig.show()"

# Evolution of coronavirus over time.

In [100]:
data_per_country = data.groupby(["Country/Region","ObservationDate"])[["Confirmed","Active_case","Recovered","Deaths"]].sum().reset_index().sort_values("ObservationDate",ascending=True).reset_index(drop=True)

In [20]:
fig = px.choropleth(data_per_country, locations=data_per_country['Country/Region'],
                    color=data_per_country['Confirmed'],locationmode='country names', 
                    hover_name=data_per_country['Country/Region'], 
                    color_continuous_scale=px.colors.sequential.deep,
                    animation_frame="ObservationDate")
fig.update_layout(

    title='Evolution of confirmed cases In Each Country',
)
fig.show()

'fig = px.choropleth(data_per_country, locations=data_per_country[\'Country/Region\'],\n                    color=data_per_country[\'Confirmed\'],locationmode=\'country names\', \n                    hover_name=data_per_country[\'Country/Region\'], \n                    color_continuous_scale=px.colors.sequential.deep,\n                    animation_frame="ObservationDate")\nfig.update_layout(\n\n    title=\'Evolution of confirmed cases In Each Country\',\n)\nfig.show()'

In [21]:
fig = px.choropleth(data_per_country, locations=data_per_country['Country/Region'],
                    color=data_per_country['Active_case'],locationmode='country names', 
                    hover_name=data_per_country['Country/Region'], 
                    color_continuous_scale=px.colors.sequential.Tealgrn,
                    animation_frame="ObservationDate")
fig.update_layout(

    title='Evolution of active cases In Each Country',
    template='plotly_dark'
)
fig.show()

'fig = px.choropleth(data_per_country, locations=data_per_country[\'Country/Region\'],\n                    color=data_per_country[\'Active_case\'],locationmode=\'country names\', \n                    hover_name=data_per_country[\'Country/Region\'], \n                    color_continuous_scale=px.colors.sequential.Tealgrn,\n                    animation_frame="ObservationDate")\nfig.update_layout(\n\n    title=\'Evolution of active cases In Each Country\',\n    template=\'plotly_dark\'\n)\nfig.show()'

In [22]:
fig = px.choropleth(data_per_country, locations=data_per_country['Country/Region'],
                    color=data_per_country['Recovered'],locationmode='country names', 
                    hover_name=data_per_country['Country/Region'], 
                    color_continuous_scale=px.colors.sequential.deep,
                    animation_frame="ObservationDate")
fig.update_layout(
    title='Evolution of recovered cases In Each Country',
)
fig.show()

'fig = px.choropleth(data_per_country, locations=data_per_country[\'Country/Region\'],\n                    color=data_per_country[\'Recovered\'],locationmode=\'country names\', \n                    hover_name=data_per_country[\'Country/Region\'], \n                    color_continuous_scale=px.colors.sequential.deep,\n                    animation_frame="ObservationDate")\nfig.update_layout(\n    title=\'Evolution of recovered cases In Each Country\',\n)\nfig.show()'

In [23]:
fig = px.choropleth(data_per_country, locations=data_per_country['Country/Region'],
                    color=data_per_country['Deaths'],locationmode='country names', 
                    hover_name=data_per_country['Country/Region'], 
                    color_continuous_scale=px.colors.sequential.Tealgrn,
                    animation_frame="ObservationDate")
fig.update_layout(
    title='Evolution of deaths In Each Country',
    template='plotly_dark'
)
fig.show()

'fig = px.choropleth(data_per_country, locations=data_per_country[\'Country/Region\'],\n                    color=data_per_country[\'Deaths\'],locationmode=\'country names\', \n                    hover_name=data_per_country[\'Country/Region\'], \n                    color_continuous_scale=px.colors.sequential.Tealgrn,\n                    animation_frame="ObservationDate")\nfig.update_layout(\n    title=\'Evolution of deaths In Each Country\',\n    template=\'plotly_dark\'\n)\nfig.show()'

In [24]:
fig = go.Figure(data=[go.Bar(
            x=Data_per_country['Country/Region'][0:10], y=Data_per_country['Confirmed'][0:10],
            text=Data_per_country['Confirmed'][0:10],
            textposition='auto', #"inside", "outside", "auto", "none"
            marker_color='black',
        )])
fig.update_layout(
    title='Most 10 infected Countries',
    xaxis_title="Countries",
    yaxis_title="Confirmed Cases",
        template='plotly_white'

)
fig.show()

'fig = go.Figure(data=[go.Bar(\n            x=Data_per_country[\'Country/Region\'][0:10], y=Data_per_country[\'Confirmed\'][0:10],\n            text=Data_per_country[\'Confirmed\'][0:10],\n            textposition=\'auto\', #"inside", "outside", "auto", "none"\n            marker_color=\'black\',\n        )])\nfig.update_layout(\n    title=\'Most 10 infected Countries\',\n    xaxis_title="Countries",\n    yaxis_title="Confirmed Cases",\n        template=\'plotly_white\'\n\n)\nfig.show()'

In [25]:
fig = go.Figure(data=[go.Scatter(
    x=Data_per_country['Country/Region'][0:10],
    y=Data_per_country['Confirmed'][0:10],
    mode='markers',
    
    marker=dict(
        color=100+np.random.randn(500),
        size=(Data_per_country['Confirmed'][0:10]/25000), #炫炮的大小圓，因為圓大小差異很大，導致比例尺右偏移
        showscale=True
        )
)])

fig.update_layout(
    title='Most 10 infected Countries',
    xaxis_title="Countries",
    yaxis_title="Confirmed Cases",
    template='plotly_dark'
)
fig.show()

'fig = go.Figure(data=[go.Scatter(\n    x=Data_per_country[\'Country/Region\'][0:10],\n    y=Data_per_country[\'Confirmed\'][0:10],\n    mode=\'markers\',\n    \n    marker=dict(\n        color=100+np.random.randn(500),\n        size=(Data_per_country[\'Confirmed\'][0:10]/25000), #炫炮的大小圓，因為圓大小差異很大，導致比例尺右偏移\n        showscale=True\n        )\n)])\n\nfig.update_layout(\n    title=\'Most 10 infected Countries\',\n    xaxis_title="Countries",\n    yaxis_title="Confirmed Cases",\n    template=\'plotly_dark\'\n)\nfig.show()'

* **Lets start with good news :  **
**Recorvered cases in each Country **

In [41]:
# *計算恢復數 * *Recorvered cases in each Country *
Recovered_per_country = Data.groupby(["Country/Region"])["Recovered"].sum().reset_index().sort_values("Recovered",ascending=False).reset_index(drop=True)

In [26]:
headerColor = 'grey'
rowEvenColor = 'lightgrey'
rowOddColor = 'white'

fig = go.Figure(data=[go.Table(
  header=dict(
    values=['<b>Country</b>','<b>Recovered Cases</b>'],
    line_color='darkslategray',
    fill_color=headerColor,
    align=['left','center'],
    font=dict(color='white', size=12)
  ),
  cells=dict(
    values=[
      Recovered_per_country['Country/Region'],
      Recovered_per_country['Recovered'],
      ],
    line_color='darkslategray',
    # 2-D list of colors for alternating rows
    fill_color = [[rowOddColor,rowEvenColor,rowOddColor, rowEvenColor,rowOddColor]*len(Data_per_country)],
    align = ['left', 'center'],
    font = dict(color = 'darkslategray', size = 11)
    ))
])
fig.update_layout(
    title='Recovered Cases In Each Country',
)
fig.show()

"headerColor = 'grey'\nrowEvenColor = 'lightgrey'\nrowOddColor = 'white'\n\nfig = go.Figure(data=[go.Table(\n  header=dict(\n    values=['<b>Country</b>','<b>Recovered Cases</b>'],\n    line_color='darkslategray',\n    fill_color=headerColor,\n    align=['left','center'],\n    font=dict(color='white', size=12)\n  ),\n  cells=dict(\n    values=[\n      Recovered_per_country['Country/Region'],\n      Recovered_per_country['Recovered'],\n      ],\n    line_color='darkslategray',\n    # 2-D list of colors for alternating rows\n    fill_color = [[rowOddColor,rowEvenColor,rowOddColor, rowEvenColor,rowOddColor]*len(Data_per_country)],\n    align = ['left', 'center'],\n    font = dict(color = 'darkslategray', size = 11)\n    ))\n])\nfig.update_layout(\n    title='Recovered Cases In Each Country',\n)\nfig.show()"

In [27]:
fig = px.pie(Recovered_per_country, values=Recovered_per_country['Recovered'], names=Recovered_per_country['Country/Region'],
             title='Recovered cases'
            )
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.update_layout(
    template='plotly_white'
)
fig.show()

"fig = px.pie(Recovered_per_country, values=Recovered_per_country['Recovered'], names=Recovered_per_country['Country/Region'],\n             title='Recovered cases'\n            )\nfig.update_traces(textposition='inside', textinfo='percent+label')\nfig.update_layout(\n    template='plotly_white'\n)\nfig.show()"

In [28]:
fig = go.Figure(data=[go.Bar(
            x=Recovered_per_country['Country/Region'][0:10], y=Recovered_per_country['Recovered'][0:10],
            text=Recovered_per_country['Recovered'][0:10],
            textposition='auto',
            marker_color='green',
        )])
fig.update_layout(
    title='Most 10 infected Countries',
    xaxis_title="Countries",
    yaxis_title="Recovered Cases",
    template='plotly_white'
)
fig.show()

'fig = go.Figure(data=[go.Bar(\n            x=Recovered_per_country[\'Country/Region\'][0:10], y=Recovered_per_country[\'Recovered\'][0:10],\n            text=Recovered_per_country[\'Recovered\'][0:10],\n            textposition=\'auto\',\n            marker_color=\'green\',\n        )])\nfig.update_layout(\n    title=\'Most 10 infected Countries\',\n    xaxis_title="Countries",\n    yaxis_title="Recovered Cases",\n    template=\'plotly_white\'\n)\nfig.show()'

In [29]:
fig = go.Figure(data=[go.Scatter(
    x=Recovered_per_country['Country/Region'][0:10],
    y=Recovered_per_country['Recovered'][0:10],
    mode='markers',
    marker=dict(
        color=100+np.random.randn(500),
        size=(Data_per_country['Recovered'][0:10]/18000),
        showscale=True
        )
)])
fig.update_layout(
    title='Most 10 infected Countries',
    xaxis_title="Countries",
    yaxis_title="Recovered Cases",
    template='plotly_white'
)
fig.show()

'fig = go.Figure(data=[go.Scatter(\n    x=Recovered_per_country[\'Country/Region\'][0:10],\n    y=Recovered_per_country[\'Recovered\'][0:10],\n    mode=\'markers\',\n    marker=dict(\n        color=100+np.random.randn(500),\n        size=(Data_per_country[\'Recovered\'][0:10]/18000),\n        showscale=True\n        )\n)])\nfig.update_layout(\n    title=\'Most 10 infected Countries\',\n    xaxis_title="Countries",\n    yaxis_title="Recovered Cases",\n    template=\'plotly_white\'\n)\nfig.show()'

**Active cases in each Country **

In [48]:
Active_per_country = Data.groupby(["Country/Region"])["Active_case"].sum().reset_index().sort_values("Active_case",ascending=False).reset_index(drop=True)

In [30]:
headerColor = 'grey'
rowEvenColor = 'lightgrey'
rowOddColor = 'white'

fig = go.Figure(data=[go.Table(
  header=dict(
    values=['<b>Country</b>','<b>Active Cases</b>'],
    line_color='darkslategray',
    fill_color=headerColor,
    align=['left','center'],
    font=dict(color='white', size=12)
  ),
  cells=dict(
    values=[
      Active_per_country['Country/Region'],
      Active_per_country['Active_case'],
      ],
    line_color='darkslategray',
    # 2-D list of colors for alternating rows
    fill_color = [[rowOddColor,rowEvenColor,rowOddColor, rowEvenColor,rowOddColor]*len(Data_per_country)],
    align = ['left', 'center'],
    font = dict(color = 'darkslategray', size = 11)
    ))
])
fig.update_layout(
    title='Active Cases In Each Country',
)
fig.show()

"headerColor = 'grey'\nrowEvenColor = 'lightgrey'\nrowOddColor = 'white'\n\nfig = go.Figure(data=[go.Table(\n  header=dict(\n    values=['<b>Country</b>','<b>Active Cases</b>'],\n    line_color='darkslategray',\n    fill_color=headerColor,\n    align=['left','center'],\n    font=dict(color='white', size=12)\n  ),\n  cells=dict(\n    values=[\n      Active_per_country['Country/Region'],\n      Active_per_country['Active_case'],\n      ],\n    line_color='darkslategray',\n    # 2-D list of colors for alternating rows\n    fill_color = [[rowOddColor,rowEvenColor,rowOddColor, rowEvenColor,rowOddColor]*len(Data_per_country)],\n    align = ['left', 'center'],\n    font = dict(color = 'darkslategray', size = 11)\n    ))\n])\nfig.update_layout(\n    title='Active Cases In Each Country',\n)\nfig.show()"

In [31]:
fig = go.Figure(data=[go.Bar(
            x=Active_per_country['Country/Region'][0:10], y=Active_per_country['Active_case'][0:10],
            text=Active_per_country['Active_case'][0:10],
           
        )])
fig.update_layout(
    title='Most 10 infected Countries',
    xaxis_title="Countries",
    yaxis_title="Active Cases",
    template='plotly_white'
)
fig.show()

'fig = go.Figure(data=[go.Bar(\n            x=Active_per_country[\'Country/Region\'][0:10], y=Active_per_country[\'Active_case\'][0:10],\n            text=Active_per_country[\'Active_case\'][0:10],\n           \n        )])\nfig.update_layout(\n    title=\'Most 10 infected Countries\',\n    xaxis_title="Countries",\n    yaxis_title="Active Cases",\n    template=\'plotly_white\'\n)\nfig.show()'

In [32]:
fig = go.Figure(data=[go.Scatter(
    x=Active_per_country['Country/Region'][0:10],
    y=Active_per_country['Active_case'][0:10],
    mode='markers',
    marker=dict(
        color=10+np.random.randn(200),

        size=Active_per_country['Active_case'][0:10]/15000,
        showscale=True
        )
)])
fig.update_layout(
    title='Most 10 infected Countries',
    xaxis_title="Countries",
    yaxis_title="Active Cases",
        template='plotly_white'

)
fig.show()

'fig = go.Figure(data=[go.Scatter(\n    x=Active_per_country[\'Country/Region\'][0:10],\n    y=Active_per_country[\'Active_case\'][0:10],\n    mode=\'markers\',\n    marker=dict(\n        color=10+np.random.randn(200),\n\n        size=Active_per_country[\'Active_case\'][0:10]/15000,\n        showscale=True\n        )\n)])\nfig.update_layout(\n    title=\'Most 10 infected Countries\',\n    xaxis_title="Countries",\n    yaxis_title="Active Cases",\n        template=\'plotly_white\'\n\n)\nfig.show()'

**Deaths cases in each Country **

In [52]:
Deaths_per_country = Data.groupby(["Country/Region"])["Deaths"].sum().reset_index().sort_values("Deaths",ascending=False).reset_index(drop=True)

In [33]:
headerColor = 'grey'
rowEvenColor = 'lightgrey'
rowOddColor = 'white'

fig = go.Figure(data=[go.Table(
  header=dict(
    values=['<b>Country</b>','<b>Deaths</b>'],
    line_color='darkslategray',
    fill_color=headerColor,
    align=['left','center'],
    font=dict(color='white', size=12)
  ),
  cells=dict(
    values=[
      Deaths_per_country['Country/Region'],
      Deaths_per_country['Deaths'],
      ],
    line_color='darkslategray',
    # 2-D list of colors for alternating rows
    fill_color = [[rowOddColor,rowEvenColor,rowOddColor, rowEvenColor,rowOddColor]*len(Data_per_country)],
    align = ['left', 'center'],
    font = dict(color = 'darkslategray', size = 11)
    ))
])
fig.update_layout(
    title='Deaths In Each Country',
)
fig.show()

"headerColor = 'grey'\nrowEvenColor = 'lightgrey'\nrowOddColor = 'white'\n\nfig = go.Figure(data=[go.Table(\n  header=dict(\n    values=['<b>Country</b>','<b>Deaths</b>'],\n    line_color='darkslategray',\n    fill_color=headerColor,\n    align=['left','center'],\n    font=dict(color='white', size=12)\n  ),\n  cells=dict(\n    values=[\n      Deaths_per_country['Country/Region'],\n      Deaths_per_country['Deaths'],\n      ],\n    line_color='darkslategray',\n    # 2-D list of colors for alternating rows\n    fill_color = [[rowOddColor,rowEvenColor,rowOddColor, rowEvenColor,rowOddColor]*len(Data_per_country)],\n    align = ['left', 'center'],\n    font = dict(color = 'darkslategray', size = 11)\n    ))\n])\nfig.update_layout(\n    title='Deaths In Each Country',\n)\nfig.show()"

In [34]:
fig = go.Figure(data=[go.Bar(
            x=Deaths_per_country['Country/Region'][0:10], y=Deaths_per_country['Deaths'][0:10],
            text=Deaths_per_country['Deaths'][0:10],
            textposition='auto',
            marker_color='black'

        )])
fig.update_layout(
    title='Most 10 infected Countries',
    xaxis_title="Countries",
    yaxis_title="Deaths",
        template='plotly_white'

)
fig.show()

'fig = go.Figure(data=[go.Bar(\n            x=Deaths_per_country[\'Country/Region\'][0:10], y=Deaths_per_country[\'Deaths\'][0:10],\n            text=Deaths_per_country[\'Deaths\'][0:10],\n            textposition=\'auto\',\n            marker_color=\'black\'\n\n        )])\nfig.update_layout(\n    title=\'Most 10 infected Countries\',\n    xaxis_title="Countries",\n    yaxis_title="Deaths",\n        template=\'plotly_white\'\n\n)\nfig.show()'

In [35]:
fig = go.Figure(data=[go.Scatter(
    x=Deaths_per_country['Country/Region'][0:10],
    y=Deaths_per_country['Deaths'][0:10],
    mode='markers',
    marker=dict(
        color=[145, 140, 135, 130, 125, 120,115,110,105,100],
        size=Deaths_per_country['Deaths'][0:10]/1000,
        showscale=True
        )
)])
fig.update_layout(
    title='Most 10 infected Countries',
    xaxis_title="Countries",
    yaxis_title="Deaths",
        template='plotly_white'

)
fig.show()

'fig = go.Figure(data=[go.Scatter(\n    x=Deaths_per_country[\'Country/Region\'][0:10],\n    y=Deaths_per_country[\'Deaths\'][0:10],\n    mode=\'markers\',\n    marker=dict(\n        color=[145, 140, 135, 130, 125, 120,115,110,105,100],\n        size=Deaths_per_country[\'Deaths\'][0:10]/1000,\n        showscale=True\n        )\n)])\nfig.update_layout(\n    title=\'Most 10 infected Countries\',\n    xaxis_title="Countries",\n    yaxis_title="Deaths",\n        template=\'plotly_white\'\n\n)\nfig.show()'

<a id='chi'></a>
#  <font color='red'> **Coronavirus in China** </font>
![image.png](attachment:image.png)

In [56]:
Data_China = data [(data['Country/Region'] == 'China') ].reset_index(drop=True)
Data_China.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Active_case
0,1,01/22/2020,Anhui,China,1/22/2020 17:00,1,0,0,1
1,2,01/22/2020,Beijing,China,1/22/2020 17:00,14,0,0,14
2,3,01/22/2020,Chongqing,China,1/22/2020 17:00,6,0,0,6
3,4,01/22/2020,Fujian,China,1/22/2020 17:00,1,0,0,1
4,5,01/22/2020,Gansu,China,1/22/2020 17:00,0,0,0,0

Get last update in china

In [57]:
Data_china_last = Data_China[Data_China['ObservationDate'] == max(Data_China['ObservationDate'])].reset_index()
Data_china_last.head()

,index,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Active_case
0,9236,155727,11/15/2020,Anhui,China,2020-11-16 05:25:57,992,6,985,1
1,9237,155761,11/15/2020,Beijing,China,2020-11-16 05:25:57,947,9,932,6
2,9238,155811,11/15/2020,Chongqing,China,2020-11-16 05:25:57,589,6,582,1
3,9239,155853,11/15/2020,Fujian,China,2020-11-16 05:25:57,461,1,426,34
4,9240,155858,11/15/2020,Gansu,China,2020-11-16 05:25:57,181,2,177,2

Confirmed cases in every Province/State in china

In [58]:
# 取得確診率
Data_china_per_state= Data_china_last.groupby(["Province/State"])["Confirmed","Active_case","Recovered","Deaths"].sum().reset_index().sort_values("Confirmed",ascending=False).reset_index(drop=True)

<ipython-input-58-e2a4f3a3e293>:2: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [36]:
fig = px.pie(Data_china_per_state, values=Data_china_per_state['Confirmed'], names=Data_china_per_state['Province/State'],
             title='Confirmed cases in China',
            hole=.2)
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

"fig = px.pie(Data_china_per_state, values=Data_china_per_state['Confirmed'], names=Data_china_per_state['Province/State'],\n             title='Confirmed cases in China',\n            hole=.2)\nfig.update_traces(textposition='inside', textinfo='percent+label')\nfig.show()"

In [37]:
fig = go.Figure(go.Bar(
            x=Data_china_per_state['Active_case'],
            y=Data_china_per_state['Province/State'],
            orientation='h',
            marker_color='#DC3912',))
fig.update_layout(
    title='Active Cases In Each Province/State',
    template='plotly_white',
    xaxis_title="Active Cases",
    yaxis_title="Province/State",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=Data_china_per_state[\'Active_case\'],\n            y=Data_china_per_state[\'Province/State\'],\n            orientation=\'h\',\n            marker_color=\'#DC3912\',))\nfig.update_layout(\n    title=\'Active Cases In Each Province/State\',\n    template=\'plotly_white\',\n    xaxis_title="Active Cases",\n    yaxis_title="Province/State",\n)\nfig.show()'

In [38]:
fig = go.Figure(go.Bar(
            x=Data_china_per_state['Recovered'],
            y=Data_china_per_state['Province/State'],
            orientation='h',
            marker_color='green',))
fig.update_layout(
    title='Active Cases In Each Province/State',
    template='plotly_white',
    xaxis_title="Recovered Cases",
    yaxis_title="Province/State",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=Data_china_per_state[\'Recovered\'],\n            y=Data_china_per_state[\'Province/State\'],\n            orientation=\'h\',\n            marker_color=\'green\',))\nfig.update_layout(\n    title=\'Active Cases In Each Province/State\',\n    template=\'plotly_white\',\n    xaxis_title="Recovered Cases",\n    yaxis_title="Province/State",\n)\nfig.show()'

In [39]:
fig = go.Figure(go.Bar(
            x=Data_china_per_state['Deaths'],
            y=Data_china_per_state['Province/State'],
            orientation='h',
            marker_color='black',))
fig.update_layout(
    title='Deaths In Each Province/State',
    template='plotly_white',
    xaxis_title="Deaths",
    yaxis_title="Province/State",
)
fig.show()

'fig = go.Figure(go.Bar(\n            x=Data_china_per_state[\'Deaths\'],\n            y=Data_china_per_state[\'Province/State\'],\n            orientation=\'h\',\n            marker_color=\'black\',))\nfig.update_layout(\n    title=\'Deaths In Each Province/State\',\n    template=\'plotly_white\',\n    xaxis_title="Deaths",\n    yaxis_title="Province/State",\n)\nfig.show()'

In [63]:
Data_china_total= Data_china_last.groupby(["Country/Region"])["Confirmed","Deaths","Recovered","Active_case"].sum().reset_index().reset_index(drop=True)

<ipython-input-63-46c97c8cce41>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [40]:
labels = ["Active cases","Recovered","Deaths"]
values = Data_china_total.loc[0, ["Active_case","Recovered","Deaths"]]
df = px.data.tips()
fig = px.pie(Data_china_total, values=values, names=labels, color_discrete_sequence=['green','royalblue','darkblue'], hole=0.5)
fig.update_layout(
    title='Total cases in China : '+str(Data_china_total["Confirmed"][0]),
)
fig.show()

'labels = ["Active cases","Recovered","Deaths"]\nvalues = Data_china_total.loc[0, ["Active_case","Recovered","Deaths"]]\ndf = px.data.tips()\nfig = px.pie(Data_china_total, values=values, names=labels, color_discrete_sequence=[\'green\',\'royalblue\',\'darkblue\'], hole=0.5)\nfig.update_layout(\n    title=\'Total cases in China : \'+str(Data_china_total["Confirmed"][0]),\n)\nfig.show()'

Evolution of cases over time in China

In [65]:
Data_china_op= Data_China.groupby(["ObservationDate","Country/Region"])["Confirmed","Deaths","Recovered","Active_case"].sum().reset_index().reset_index(drop=True)

<ipython-input-65-637c00b2563f>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [41]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=Data_china_op['ObservationDate'], y=Data_china_op['Confirmed'],
                    mode='lines',
                    name='Confirmed cases'))


fig.add_trace(go.Scatter(x=Data_china_op['ObservationDate'], y=Data_china_op['Active_case'],
                    mode='lines',
                    name='Active cases',line=dict( dash='dot')))
fig.add_trace(go.Scatter(x=Data_china_op['ObservationDate'], y=Data_china_op['Deaths'],name='Deaths',
                                   marker_color='black',mode='lines',line=dict( dash='dot') ))
fig.add_trace(go.Scatter(x=Data_china_op['ObservationDate'], y=Data_china_op['Recovered'],
                    mode='lines',
                    name='Recovered cases',marker_color='green'))

fig.update_layout(
    title='Evolution of cases over time in China',
        template='plotly_white'

)

fig.show()

"fig = go.Figure()\nfig.add_trace(go.Scatter(x=Data_china_op['ObservationDate'], y=Data_china_op['Confirmed'],\n                    mode='lines',\n                    name='Confirmed cases'))\n\n\nfig.add_trace(go.Scatter(x=Data_china_op['ObservationDate'], y=Data_china_op['Active_case'],\n                    mode='lines',\n                    name='Active cases',line=dict( dash='dot')))\nfig.add_trace(go.Scatter(x=Data_china_op['ObservationDate'], y=Data_china_op['Deaths'],name='Deaths',\n                                   marker_color='black',mode='lines',line=dict( dash='dot') ))\nfig.add_trace(go.Scatter(x=Data_china_op['ObservationDate'], y=Data_china_op['Recovered'],\n                    mode='lines',\n                    name='Recovered cases',marker_color='green'))\n\nfig.update_layout(\n    title='Evolution of cases over time in China',\n        template='plotly_white'\n\n)\n\nfig.show()"

<a id='us'></a>
#  <font color='red'> **Coronavirus in United States** </font>
![image.png](attachment:image.png)

In [67]:
Data_US = data [(data['Country/Region'] == 'US') ].reset_index(drop=True)

In [68]:
Data_us_last = Data_US[Data_US['ObservationDate'] == max(Data_US['ObservationDate'])].reset_index()

In [69]:
Data_us_total= Data_us_last.groupby(["Country/Region"])["Confirmed","Deaths","Recovered","Active_case"].sum().reset_index().reset_index(drop=True)

<ipython-input-69-1dcd34c1fc1d>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [42]:
labels = ["Active cases","Recovered","Deaths"]
values = Data_us_total.loc[0, ["Active_case","Recovered","Deaths"]]
df = px.data.tips()
fig = px.pie(Data_us_total, values=values, names=labels, color_discrete_sequence=['royalblue','darkblue','green'], hole=0.5)
fig.update_layout(
    title='Total cases in United States : '+str(Data_us_total["Confirmed"][0]),
)
fig.show()

'labels = ["Active cases","Recovered","Deaths"]\nvalues = Data_us_total.loc[0, ["Active_case","Recovered","Deaths"]]\ndf = px.data.tips()\nfig = px.pie(Data_us_total, values=values, names=labels, color_discrete_sequence=[\'royalblue\',\'darkblue\',\'green\'], hole=0.5)\nfig.update_layout(\n    title=\'Total cases in United States : \'+str(Data_us_total["Confirmed"][0]),\n)\nfig.show()'

Cases in every Province/State in US

In [71]:
Data_us_per_state= Data_us_last.groupby(["Province/State"])["Confirmed","Active_case","Deaths"].sum().reset_index().sort_values("Confirmed",ascending=False).reset_index(drop=True)

<ipython-input-71-f4ffa29eb617>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [43]:
fig = px.pie(Data_us_per_state, values=Data_us_per_state['Confirmed'], names=Data_us_per_state['Province/State'],
             title='Confirmed cases in United States',
            hole=.2)
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

"fig = px.pie(Data_us_per_state, values=Data_us_per_state['Confirmed'], names=Data_us_per_state['Province/State'],\n             title='Confirmed cases in United States',\n            hole=.2)\nfig.update_traces(textposition='inside', textinfo='percent+label')\nfig.show()"

In [44]:
fig = px.pie(Data_us_per_state, values=Data_us_per_state['Active_case'], names=Data_us_per_state['Province/State'],
             title='Active cases in United States',
            hole=.2)
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

"fig = px.pie(Data_us_per_state, values=Data_us_per_state['Active_case'], names=Data_us_per_state['Province/State'],\n             title='Active cases in United States',\n            hole=.2)\nfig.update_traces(textposition='inside', textinfo='percent+label')\nfig.show()"

In [45]:
fig = px.pie(Data_us_per_state, values=Data_us_per_state['Deaths'], names=Data_us_per_state['Province/State'],
             title='Deaths in United States',
            hole=.2)
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

"fig = px.pie(Data_us_per_state, values=Data_us_per_state['Deaths'], names=Data_us_per_state['Province/State'],\n             title='Deaths in United States',\n            hole=.2)\nfig.update_traces(textposition='inside', textinfo='percent+label')\nfig.show()"

In [75]:
Data_US_op= Data_US.groupby(["ObservationDate","Country/Region"])["Confirmed","Deaths","Recovered","Active_case"].sum().reset_index().reset_index(drop=True)

<ipython-input-75-bd2eb0d6c10b>:1: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [46]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=Data_US_op.index, y=Data_US_op['Confirmed'],
                    mode='lines',
                    name='Confirmed cases'))


fig.update_layout(
    title='Evolution of Confirmed cases over time in US',
        template='plotly_white'

)

fig.show()

"fig = go.Figure()\nfig.add_trace(go.Scatter(x=Data_US_op.index, y=Data_US_op['Confirmed'],\n                    mode='lines',\n                    name='Confirmed cases'))\n\n\nfig.update_layout(\n    title='Evolution of Confirmed cases over time in US',\n        template='plotly_white'\n\n)\n\nfig.show()"

In [47]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=Data_US_op.index, y=Data_US_op['Active_case'],
                    mode='lines',
                    name='Active cases',line=dict( dash='dot')))

fig.update_layout(
    title='Evolution of Acitive cases over time in US',
        template='plotly_white'

)

fig.show()

"fig = go.Figure()\n\nfig.add_trace(go.Scatter(x=Data_US_op.index, y=Data_US_op['Active_case'],\n                    mode='lines',\n                    name='Active cases',line=dict( dash='dot')))\n\nfig.update_layout(\n    title='Evolution of Acitive cases over time in US',\n        template='plotly_white'\n\n)\n\nfig.show()"

In [48]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=Data_US_op.index, y=Data_US_op['Recovered'],
                    mode='lines',
                    name='Recovered cases',marker_color='green'))

fig.update_layout(
    title='Evolution of Recovered cases over time in US',
        template='plotly_white'

)

fig.show()

"fig = go.Figure()\n\nfig.add_trace(go.Scatter(x=Data_US_op.index, y=Data_US_op['Recovered'],\n                    mode='lines',\n                    name='Recovered cases',marker_color='green'))\n\nfig.update_layout(\n    title='Evolution of Recovered cases over time in US',\n        template='plotly_white'\n\n)\n\nfig.show()"

In [49]:
fig = go.Figure()

fig.add_trace(go.Scatter(x=Data_US_op.index, y=Data_US_op['Deaths'],name='Deaths',
                                   marker_color='white',mode='lines',line=dict( dash='dot') ))

fig.update_layout(
    title='Evolution of Deaths over time in US',
        template='plotly_dark'

)

fig.show()

"fig = go.Figure()\n\nfig.add_trace(go.Scatter(x=Data_US_op.index, y=Data_US_op['Deaths'],name='Deaths',\n                                   marker_color='white',mode='lines',line=dict( dash='dot') ))\n\nfig.update_layout(\n    title='Evolution of Deaths over time in US',\n        template='plotly_dark'\n\n)\n\nfig.show()"